<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ConnectionString" value="Provider=sqloledb;Data Source=NOTE-FERNANDO\FERNANDO_NOTE;User Id=sa;Password=d3m7k8;DATABASE=brincadeirasmusicais;" />
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="HomeLogada" stopProcessing="true">
                    <match url="^rede/([^/]+)/?$" />
                    <action type="Rewrite" url="interna.aspx?rede={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>

</configuration>
