<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Provider=sqloledb;Data Source=186.202.124.13;User Id=palavracantada;Password=d3m7k8;DATABASE=palavracantada;" />
  </appSettings>

  <!--  configuraçao de limite-->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="999999999" maxUrl="999999999" />
      </requestFiltering>
    </security>
  </system.webServer>
  <!-- fim configuraçao de limite-->
  
  <system.web>
    <sessionState timeout="120"></sessionState>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
         <rule name="PostInterno" stopProcessing="true">
          <match url="^post/([^/]+)/?$" />
          <action type="Rewrite" url="post.aspx?titulo={R:1}" />
        </rule>
        <rule name="HomeLogada" stopProcessing="true">
            <match url="^([^/]+)/([^/]+)/?$" />
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="default.aspx?rede={R:1}&amp;cidade={R:2}" />
        </rule>
        <rule name="MeuPerfil" stopProcessing="true">
          <match url="^meu-perfil$" />
          <action type="Rewrite" url="meu-perfil.aspx" />
        </rule>
        <rule name="Sobre" stopProcessing="true">
          <match url="^sobre-o-projeto$" />
          <action type="Rewrite" url="sobre.aspx" />
        </rule>
        <!--<rule name="HomeLogada" stopProcessing="true">
          <match url="^([^/]+)/([^/]+)/?$" />
          <action type="Rewrite" url="default.aspx?rede={R:1}&amp;cidade={R:2}" />
        </rule>
       
         <rule name="Agenda" stopProcessing="true">
          <match url="^agenda$" />
          <action type="Rewrite" url="agenda.aspx" />
        </rule>
        <rule name="Faq" stopProcessing="true">
          <match url="^faq$" />
          <action type="Rewrite" url="faq.aspx" />
        </rule>
        <rule name="GaleriaColaborativa" stopProcessing="true">
          <match url="^galeria-colaborativa$" />
          <action type="Rewrite" url="galeria-colaborativa.aspx" />
        </rule>
        <rule name="BlogRegional" stopProcessing="true">
          <match url="^blog-regional$" />
          <action type="Rewrite" url="blog-regional.aspx" />
        </rule>
        <rule name="Forum" stopProcessing="true">
          <match url="^forum$" />
          <action type="Rewrite" url="forum.aspx" />
        </rule>
        <rule name="CriacoesDocumentadas" stopProcessing="true">
          <match url="^criacoes-documentadas$" />
          <action type="Rewrite" url="criacoes-documentadas.aspx" />
        </rule>-->
      </rules>
    </rewrite>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>