<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\svn\brincadeirasmusicais\site</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="administracao/ajax/acoes.aspx">
      <publishTime>12/13/2014 17:00:53</publishTime>
    </File>
    <File Include="administracao/albumfotos.aspx">
      <publishTime>02/13/2015 21:53:10</publishTime>
    </File>
    <File Include="administracao/artigos.aspx">
      <publishTime>02/02/2015 23:04:02</publishTime>
    </File>
    <File Include="administracao/banners.aspx">
      <publishTime>02/23/2015 22:26:29</publishTime>
    </File>
    <File Include="administracao/blog.aspx">
      <publishTime>02/26/2015 00:22:11</publishTime>
    </File>
    <File Include="administracao/css/responsive.css">
      <publishTime>08/11/2014 11:31:48</publishTime>
    </File>
    <File Include="administracao/css/style.css">
      <publishTime>01/16/2015 00:13:47</publishTime>
    </File>
    <File Include="administracao/fotos.aspx">
      <publishTime>01/16/2015 01:13:58</publishTime>
    </File>
    <File Include="administracao/home.aspx">
      <publishTime>11/19/2014 02:40:48</publishTime>
    </File>
    <File Include="administracao/images/bg.png">
      <publishTime>08/11/2014 11:31:52</publishTime>
    </File>
    <File Include="administracao/images/bg_dash.png">
      <publishTime>08/11/2014 11:31:52</publishTime>
    </File>
    <File Include="administracao/images/bg_form.png">
      <publishTime>08/11/2014 11:31:52</publishTime>
    </File>
    <File Include="administracao/images/btn.png">
      <publishTime>08/11/2014 11:31:52</publishTime>
    </File>
    <File Include="administracao/images/bto-contato.png">
      <publishTime>08/11/2014 11:31:51</publishTime>
    </File>
    <File Include="administracao/images/clientes.png">
      <publishTime>08/11/2014 11:31:51</publishTime>
    </File>
    <File Include="administracao/images/clientes3.png">
      <publishTime>08/11/2014 11:31:51</publishTime>
    </File>
    <File Include="administracao/images/editar.png">
      <publishTime>08/11/2014 11:31:51</publishTime>
    </File>
    <File Include="administracao/images/filtro.png">
      <publishTime>08/11/2014 11:31:51</publishTime>
    </File>
    <File Include="administracao/images/form-icon.png">
      <publishTime>08/11/2014 11:31:51</publishTime>
    </File>
    <File Include="administracao/images/home.png">
      <publishTime>08/11/2014 11:31:51</publishTime>
    </File>
    <File Include="administracao/images/home2.png">
      <publishTime>08/11/2014 11:31:51</publishTime>
    </File>
    <File Include="administracao/images/home3.png">
      <publishTime>08/11/2014 11:31:50</publishTime>
    </File>
    <File Include="administracao/images/input_bg.png">
      <publishTime>08/11/2014 11:31:50</publishTime>
    </File>
    <File Include="administracao/images/input_erro.png">
      <publishTime>08/11/2014 11:31:50</publishTime>
    </File>
    <File Include="administracao/images/input_ok.png">
      <publishTime>08/11/2014 11:31:50</publishTime>
    </File>
    <File Include="administracao/images/lixo.png">
      <publishTime>08/11/2014 11:31:50</publishTime>
    </File>
    <File Include="administracao/images/login_adm.png">
      <publishTime>08/11/2014 11:31:50</publishTime>
    </File>
    <File Include="administracao/images/logo.png">
      <publishTime>01/15/2015 23:41:57</publishTime>
    </File>
    <File Include="administracao/images/logo2.png">
      <publishTime>01/16/2015 22:58:01</publishTime>
    </File>
    <File Include="administracao/images/mais.png">
      <publishTime>08/11/2014 11:31:49</publishTime>
    </File>
    <File Include="administracao/images/masi.png">
      <publishTime>08/11/2014 11:31:49</publishTime>
    </File>
    <File Include="administracao/images/restore.png">
      <publishTime>08/11/2014 11:31:49</publishTime>
    </File>
    <File Include="administracao/images/sort_asc.png">
      <publishTime>08/11/2014 11:31:49</publishTime>
    </File>
    <File Include="administracao/images/sort_both.png">
      <publishTime>08/11/2014 11:31:49</publishTime>
    </File>
    <File Include="administracao/images/sort_desc.png">
      <publishTime>08/11/2014 11:31:49</publishTime>
    </File>
    <File Include="administracao/images/user.png">
      <publishTime>08/11/2014 11:31:49</publishTime>
    </File>
    <File Include="administracao/images/user_icon.png">
      <publishTime>08/11/2014 14:14:11</publishTime>
    </File>
    <File Include="administracao/images/user_ok.png">
      <publishTime>08/11/2014 11:31:49</publishTime>
    </File>
    <File Include="administracao/inc/header.ascx">
      <publishTime>02/24/2015 00:26:48</publishTime>
    </File>
    <File Include="administracao/inc/script.ascx">
      <publishTime>12/13/2014 11:43:11</publishTime>
    </File>
    <File Include="administracao/index.aspx">
      <publishTime>11/19/2014 02:04:42</publishTime>
    </File>
    <File Include="administracao/js/geral.js">
      <publishTime>02/27/2015 23:42:26</publishTime>
    </File>
    <File Include="administracao/js/jquery-2.1.1.min.js">
      <publishTime>08/11/2014 11:31:53</publishTime>
    </File>
    <File Include="administracao/js/jquery.dataTables.min.js">
      <publishTime>08/11/2014 11:31:53</publishTime>
    </File>
    <File Include="administracao/js/mascara.js">
      <publishTime>08/11/2014 11:31:52</publishTime>
    </File>
    <File Include="administracao/playlist.aspx">
      <publishTime>02/13/2015 21:53:10</publishTime>
    </File>
    <File Include="administracao/redes.aspx">
      <publishTime>01/16/2015 23:31:51</publishTime>
    </File>
    <File Include="administracao/usuarios.aspx">
      <publishTime>02/20/2015 00:09:23</publishTime>
    </File>
    <File Include="administracao/videos.aspx">
      <publishTime>01/16/2015 00:13:47</publishTime>
    </File>
    <File Include="ajax/acoes.aspx">
      <publishTime>02/03/2015 23:39:48</publishTime>
    </File>
    <File Include="ajax/download.aspx">
      <publishTime>01/29/2015 23:44:16</publishTime>
    </File>
    <File Include="artigos.aspx">
      <publishTime>02/09/2015 21:54:47</publishTime>
    </File>
    <File Include="bin/BrincaderiasMusicais.dll">
      <publishTime>02/28/2015 00:04:46</publishTime>
    </File>
    <File Include="bin/BrincaderiasMusicais.pdb">
      <publishTime>02/24/2015 00:25:36</publishTime>
    </File>
    <File Include="blog.aspx">
      <publishTime>02/26/2015 00:22:11</publishTime>
    </File>
    <File Include="calendario.aspx">
      <publishTime>10/22/2014 00:24:30</publishTime>
    </File>
    <File Include="contato.aspx">
      <publishTime>02/10/2015 22:48:08</publishTime>
    </File>
    <File Include="css/loveyalikeasister-webfont.eot">
      <publishTime>04/12/2014 01:21:38</publishTime>
    </File>
    <File Include="css/loveyalikeasister-webfont.svg">
      <publishTime>04/12/2014 01:21:38</publishTime>
    </File>
    <File Include="css/loveyalikeasister-webfont.ttf">
      <publishTime>04/12/2014 01:21:38</publishTime>
    </File>
    <File Include="css/loveyalikeasister-webfont.woff">
      <publishTime>04/12/2014 01:21:38</publishTime>
    </File>
    <File Include="css/loveyalikeasister-webfont.woff2">
      <publishTime>04/12/2014 01:21:38</publishTime>
    </File>
    <File Include="css/loveyalikeasistersolid-webfont.eot">
      <publishTime>04/12/2014 01:21:38</publishTime>
    </File>
    <File Include="css/loveyalikeasistersolid-webfont.svg">
      <publishTime>04/12/2014 01:21:38</publishTime>
    </File>
    <File Include="css/loveyalikeasistersolid-webfont.ttf">
      <publishTime>04/12/2014 01:21:38</publishTime>
    </File>
    <File Include="css/loveyalikeasistersolid-webfont.woff">
      <publishTime>04/12/2014 01:21:38</publishTime>
    </File>
    <File Include="css/loveyalikeasistersolid-webfont.woff2">
      <publishTime>04/12/2014 01:21:38</publishTime>
    </File>
    <File Include="css/responsive.css">
      <publishTime>01/12/2014 22:58:47</publishTime>
    </File>
    <File Include="css/style.css">
      <publishTime>02/27/2015 01:34:28</publishTime>
    </File>
    <File Include="default.aspx">
      <publishTime>12/23/2014 22:21:07</publishTime>
    </File>
    <File Include="equipe.aspx">
      <publishTime>02/21/2015 11:30:09</publishTime>
    </File>
    <File Include="fotos.aspx">
      <publishTime>02/09/2015 21:54:54</publishTime>
    </File>
    <File Include="images/arrow_left.png">
      <publishTime>12/13/2014 00:08:11</publishTime>
    </File>
    <File Include="images/arrow_left2.png">
      <publishTime>12/13/2014 18:49:10</publishTime>
    </File>
    <File Include="images/arrow_right.png">
      <publishTime>12/13/2014 00:08:11</publishTime>
    </File>
    <File Include="images/arrow_right2.png">
      <publishTime>12/13/2014 18:49:10</publishTime>
    </File>
    <File Include="images/banner_bottom.jpg">
      <publishTime>02/20/2015 00:09:22</publishTime>
    </File>
    <File Include="images/banner_lateral.png">
      <publishTime>10/12/2014 23:57:11</publishTime>
    </File>
    <File Include="images/bg.jpg">
      <publishTime>04/12/2014 01:21:35</publishTime>
    </File>
    <File Include="images/bg_1.jpg">
      <publishTime>12/16/2014 00:34:39</publishTime>
    </File>
    <File Include="images/bg_blog_home.png">
      <publishTime>12/13/2014 00:08:11</publishTime>
    </File>
    <File Include="images/bg_blog_interna.png">
      <publishTime>12/19/2014 01:02:58</publishTime>
    </File>
    <File Include="images/bg_equipe.png">
      <publishTime>02/20/2015 23:56:55</publishTime>
    </File>
    <File Include="images/bg_galeria_home.png">
      <publishTime>12/13/2014 18:49:10</publishTime>
    </File>
    <File Include="images/bg_interna.png">
      <publishTime>12/19/2014 01:02:58</publishTime>
    </File>
    <File Include="images/bg_logado.png">
      <publishTime>12/13/2014 00:08:11</publishTime>
    </File>
    <File Include="images/bg_login.png">
      <publishTime>10/12/2014 23:57:11</publishTime>
    </File>
    <File Include="images/bg_menu_ativo.png">
      <publishTime>12/19/2014 01:02:58</publishTime>
    </File>
    <File Include="images/bg_modal_home.png">
      <publishTime>12/23/2014 22:27:13</publishTime>
    </File>
    <File Include="images/bg_nav_pg.png">
      <publishTime>01/27/2015 23:04:01</publishTime>
    </File>
    <File Include="images/bg_post_home.jpg">
      <publishTime>12/13/2014 18:49:10</publishTime>
    </File>
    <File Include="images/bg_post_home.png">
      <publishTime>12/13/2014 18:49:10</publishTime>
    </File>
    <File Include="images/blog_interna.png">
      <publishTime>12/19/2014 01:02:58</publishTime>
    </File>
    <File Include="images/btn_download.png">
      <publishTime>01/24/2015 00:48:01</publishTime>
    </File>
    <File Include="images/btn_entrar.png">
      <publishTime>10/12/2014 23:57:11</publishTime>
    </File>
    <File Include="images/btn_entrar2.png">
      <publishTime>12/16/2014 00:34:39</publishTime>
    </File>
    <File Include="images/btn_grande.png">
      <publishTime>12/13/2014 00:08:11</publishTime>
    </File>
    <File Include="images/btn_ok.png">
      <publishTime>01/29/2015 00:50:34</publishTime>
    </File>
    <File Include="images/btn_sair.png">
      <publishTime>12/13/2014 00:08:11</publishTime>
    </File>
    <File Include="images/down.png">
      <publishTime>12/16/2014 00:34:39</publishTime>
    </File>
    <File Include="images/email-rodape.jpg">
      <publishTime>01/22/2015 22:44:09</publishTime>
    </File>
    <File Include="images/email-topo.jpg">
      <publishTime>01/22/2015 22:43:50</publishTime>
    </File>
    <File Include="images/face.png">
      <publishTime>12/13/2014 18:49:10</publishTime>
    </File>
    <File Include="images/fk.png">
      <publishTime>12/13/2014 18:49:10</publishTime>
    </File>
    <File Include="images/flickr_fotos.png">
      <publishTime>01/29/2015 00:50:34</publishTime>
    </File>
    <File Include="images/hr.png">
      <publishTime>12/13/2014 18:49:10</publishTime>
    </File>
    <File Include="images/icone_foto.png">
      <publishTime>12/13/2014 18:49:10</publishTime>
    </File>
    <File Include="images/icone_video.png">
      <publishTime>12/13/2014 18:49:10</publishTime>
    </File>
    <File Include="images/imagem-artigo.jpg">
      <publishTime>01/24/2015 00:36:48</publishTime>
    </File>
    <File Include="images/img_blog.jpg">
      <publishTime>01/30/2015 00:11:59</publishTime>
    </File>
    <File Include="images/img_blog_home.jpg">
      <publishTime>12/16/2014 00:34:38</publishTime>
    </File>
    <File Include="images/img_equipe.png">
      <publishTime>02/20/2015 23:56:55</publishTime>
    </File>
    <File Include="images/img_sobre.jpg">
      <publishTime>12/19/2014 01:02:58</publishTime>
    </File>
    <File Include="images/insta.png">
      <publishTime>12/13/2014 18:49:10</publishTime>
    </File>
    <File Include="images/insta_fotos.png">
      <publishTime>01/29/2015 00:50:34</publishTime>
    </File>
    <File Include="images/load.gif">
      <publishTime>12/13/2014 18:49:10</publishTime>
    </File>
    <File Include="images/logo-fb.png">
      <publishTime>02/06/2015 23:23:25</publishTime>
    </File>
    <File Include="images/logo.png">
      <publishTime>01/21/2015 23:44:14</publishTime>
    </File>
    <File Include="images/menu1.png">
      <publishTime>04/12/2014 01:21:35</publishTime>
    </File>
    <File Include="images/menu2.png">
      <publishTime>04/12/2014 01:21:35</publishTime>
    </File>
    <File Include="images/menu3.png">
      <publishTime>04/12/2014 01:21:35</publishTime>
    </File>
    <File Include="images/menu4.png">
      <publishTime>04/12/2014 01:21:35</publishTime>
    </File>
    <File Include="images/nav_left.png">
      <publishTime>01/27/2015 23:04:01</publishTime>
    </File>
    <File Include="images/nav_right.png">
      <publishTime>01/27/2015 23:04:01</publishTime>
    </File>
    <File Include="images/ok_bg_2.png">
      <publishTime>02/20/2015 23:56:55</publishTime>
    </File>
    <File Include="images/paulo.jpg">
      <publishTime>01/01/0001 00:00:00</publishTime>
    </File>
    <File Include="images/quem-somos-1.jpg">
      <publishTime>01/20/2015 22:05:02</publishTime>
    </File>
    <File Include="images/quem-somos-2.jpg">
      <publishTime>01/20/2015 22:11:27</publishTime>
    </File>
    <File Include="images/redes-participantes-1.jpg">
      <publishTime>01/20/2015 23:22:25</publishTime>
    </File>
    <File Include="images/sandra-paulo.jpg">
      <publishTime>01/21/2015 00:25:23</publishTime>
    </File>
    <File Include="images/sandra.jpg">
      <publishTime>01/21/2015 00:19:24</publishTime>
    </File>
    <File Include="images/sobre-2.jpg">
      <publishTime>01/22/2015 23:28:06</publishTime>
    </File>
    <File Include="images/sobre.jpg">
      <publishTime>12/19/2014 01:02:58</publishTime>
    </File>
    <File Include="images/sub_1.png">
      <publishTime>01/21/2015 23:44:14</publishTime>
    </File>
    <File Include="images/sub_2.png">
      <publishTime>01/21/2015 23:44:14</publishTime>
    </File>
    <File Include="images/titu_blog_home.png">
      <publishTime>12/13/2014 00:08:11</publishTime>
    </File>
    <File Include="images/titu_galeria_home.png">
      <publishTime>12/13/2014 18:49:10</publishTime>
    </File>
    <File Include="images/tw.png">
      <publishTime>12/13/2014 18:49:10</publishTime>
    </File>
    <File Include="images/you.png">
      <publishTime>12/13/2014 18:49:10</publishTime>
    </File>
    <File Include="images/you1.png">
      <publishTime>01/29/2015 00:50:34</publishTime>
    </File>
    <File Include="images/you2.png">
      <publishTime>01/29/2015 00:50:34</publishTime>
    </File>
    <File Include="inc/blog.ascx">
      <publishTime>12/19/2014 12:19:18</publishTime>
    </File>
    <File Include="inc/footer.ascx">
      <publishTime>12/18/2014 22:51:15</publishTime>
    </File>
    <File Include="inc/header.ascx">
      <publishTime>01/14/2015 00:36:46</publishTime>
    </File>
    <File Include="inc/login.ascx">
      <publishTime>02/27/2015 23:42:26</publishTime>
    </File>
    <File Include="inc/menu.ascx">
      <publishTime>02/20/2015 23:59:23</publishTime>
    </File>
    <File Include="inc/script.ascx">
      <publishTime>02/06/2015 00:16:40</publishTime>
    </File>
    <File Include="js/geral.js">
      <publishTime>02/27/2015 01:34:28</publishTime>
    </File>
    <File Include="js/jquery-2.1.1.min.js">
      <publishTime>01/12/2014 22:58:47</publishTime>
    </File>
    <File Include="js/mascara.js">
      <publishTime>01/12/2014 22:58:47</publishTime>
    </File>
    <File Include="palavra-cantada.aspx">
      <publishTime>02/20/2015 00:09:24</publishTime>
    </File>
    <File Include="post.aspx">
      <publishTime>02/24/2015 00:02:35</publishTime>
    </File>
    <File Include="quem-somos.aspx">
      <publishTime>01/20/2015 22:13:53</publishTime>
    </File>
    <File Include="redes-participantes.aspx">
      <publishTime>01/23/2015 22:22:03</publishTime>
    </File>
    <File Include="sobre.aspx">
      <publishTime>01/22/2015 23:32:11</publishTime>
    </File>
    <File Include="upload/imagens/artigo/300120150050050.jpg">
      <publishTime>01/30/2015 00:50:37</publishTime>
    </File>
    <File Include="upload/imagens/artigo/30012015005441.jpg">
      <publishTime>01/30/2015 00:54:41</publishTime>
    </File>
    <File Include="upload/imagens/artigo/big-300120150050050.jpg">
      <publishTime>01/30/2015 00:51:26</publishTime>
    </File>
    <File Include="upload/imagens/artigo/big-300120150054410.jpg">
      <publishTime>01/30/2015 00:54:41</publishTime>
    </File>
    <File Include="upload/imagens/artigo/imagem-artigo.jpg">
      <publishTime>01/24/2015 00:36:48</publishTime>
    </File>
    <File Include="upload/imagens/artigo/pdf/Cronograma-PalavraCantada.pdf">
      <publishTime>01/26/2015 22:23:51</publishTime>
    </File>
    <File Include="upload/imagens/artigo/pdf/teste_30012015005441.pdf">
      <publishTime>01/30/2015 00:54:41</publishTime>
    </File>
    <File Include="upload/imagens/artigo/thumb-30012015005441.jpg">
      <publishTime>01/30/2015 00:51:24</publishTime>
    </File>
    <File Include="upload/imagens/artigo/thumb-300120150054410.jpg">
      <publishTime>01/30/2015 00:54:41</publishTime>
    </File>
    <File Include="upload/imagens/banners/banner-colorido.png">
      <publishTime>01/12/2015 22:51:58</publishTime>
    </File>
    <File Include="upload/imagens/banners/banner-pb.png">
      <publishTime>01/12/2015 22:49:58</publishTime>
    </File>
    <File Include="upload/imagens/banners/banner2-colorido.png">
      <publishTime>01/12/2015 22:51:42</publishTime>
    </File>
    <File Include="upload/imagens/banners/banner2-pb.png">
      <publishTime>01/12/2015 22:50:49</publishTime>
    </File>
    <File Include="upload/imagens/blog/120120152222470.jpg">
      <publishTime>01/12/2015 22:22:47</publishTime>
    </File>
    <File Include="upload/imagens/blog/120120152223280.jpg">
      <publishTime>01/12/2015 22:23:28</publishTime>
    </File>
    <File Include="upload/imagens/blog/120120152223540.jpg">
      <publishTime>01/12/2015 22:23:54</publishTime>
    </File>
    <File Include="upload/imagens/blog/120120152232410.jpg">
      <publishTime>01/12/2015 22:32:41</publishTime>
    </File>
    <File Include="upload/imagens/blog/120120152234200.jpg">
      <publishTime>01/12/2015 22:34:20</publishTime>
    </File>
    <File Include="upload/imagens/blog/120120152234310.jpg">
      <publishTime>01/12/2015 22:34:31</publishTime>
    </File>
    <File Include="upload/imagens/blog/big-120120152222470.jpg">
      <publishTime>01/12/2015 22:22:48</publishTime>
    </File>
    <File Include="upload/imagens/blog/big-120120152223280.jpg">
      <publishTime>01/12/2015 22:23:28</publishTime>
    </File>
    <File Include="upload/imagens/blog/big-120120152223540.jpg">
      <publishTime>01/12/2015 22:23:54</publishTime>
    </File>
    <File Include="upload/imagens/blog/big-120120152232410.jpg">
      <publishTime>01/12/2015 22:32:41</publishTime>
    </File>
    <File Include="upload/imagens/blog/big-120120152234200.jpg">
      <publishTime>01/12/2015 22:34:20</publishTime>
    </File>
    <File Include="upload/imagens/blog/big-120120152234310.jpg">
      <publishTime>01/12/2015 22:34:31</publishTime>
    </File>
    <File Include="upload/imagens/blog/img_blog.jpg">
      <publishTime>01/30/2015 00:11:59</publishTime>
    </File>
    <File Include="upload/imagens/blog/thumb-120120152222470.jpg">
      <publishTime>01/12/2015 22:22:48</publishTime>
    </File>
    <File Include="upload/imagens/blog/thumb-120120152223280.jpg">
      <publishTime>01/12/2015 22:23:28</publishTime>
    </File>
    <File Include="upload/imagens/blog/thumb-120120152223540.jpg">
      <publishTime>01/12/2015 22:23:54</publishTime>
    </File>
    <File Include="upload/imagens/blog/thumb-120120152232410.jpg">
      <publishTime>01/12/2015 22:32:41</publishTime>
    </File>
    <File Include="upload/imagens/blog/thumb-120120152234200.jpg">
      <publishTime>01/12/2015 22:34:20</publishTime>
    </File>
    <File Include="upload/imagens/blog/thumb-120120152234310.jpg">
      <publishTime>01/12/2015 22:34:31</publishTime>
    </File>
    <File Include="upload/imagens/equipe/ana.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/equipe/bruno.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/equipe/claudia.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/equipe/cris.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/equipe/daniel.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/equipe/ed.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/equipe/estevao.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/equipe/flavia.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/equipe/flora.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/equipe/giselle.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/equipe/henrique.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/equipe/julia.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/equipe/luiz.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/equipe/maheus.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/equipe/marina.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/equipe/maristela.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/equipe/sandra.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/equipe/sem-foto.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/equipe/tatiana.png">
      <publishTime>02/21/2015 10:33:51</publishTime>
    </File>
    <File Include="upload/imagens/galeria/ampliada/galeria.jpg">
      <publishTime>12/13/2014 18:49:10</publishTime>
    </File>
    <File Include="upload/imagens/galeria/ampliada/galeria2.jpg">
      <publishTime>12/13/2014 18:49:10</publishTime>
    </File>
    <File Include="upload/imagens/galeria/blog-pb.jpg">
      <publishTime>01/12/2015 22:29:15</publishTime>
    </File>
    <File Include="upload/imagens/galeria/galeria-colorido.jpg">
      <publishTime>01/12/2015 22:31:51</publishTime>
    </File>
    <File Include="upload/imagens/galeria/galeria-pb.jpg">
      <publishTime>01/12/2015 22:30:34</publishTime>
    </File>
    <File Include="videos.aspx">
      <publishTime>02/09/2015 21:55:06</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>02/28/2015 00:04:52</publishTime>
    </File>
  </ItemGroup>
</Project>