@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'love_ya_like_a_sisterregular';
    src: url('loveyalikeasister-webfont.eot');
    src: url('loveyalikeasister-webfont.eot?#iefix') format('embedded-opentype'),
         url('loveyalikeasister-webfont.woff2') format('woff2'),
         url('loveyalikeasister-webfont.woff') format('woff'),
         url('loveyalikeasister-webfont.ttf') format('truetype'),
         url('loveyalikeasister-webfont.svg#love_ya_like_a_sisterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'love_ya_like_a_sister_snormal';
    src: url('loveyalikeasistersolid-webfont.eot');
    src: url('loveyalikeasistersolid-webfont.eot?#iefix') format('embedded-opentype'),
         url('loveyalikeasistersolid-webfont.woff2') format('woff2'),
         url('loveyalikeasistersolid-webfont.woff') format('woff'),
         url('loveyalikeasistersolid-webfont.ttf') format('truetype'),
         url('loveyalikeasistersolid-webfont.svg#love_ya_like_a_sister_snormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*DEFAULT*/
*{margin:0px;padding:0px;outline:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;text-decoration:none;border:0;}
a img{display:block;}
a{text-decoration:none;}
*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body{ font-size: 62.5%;text-align:center;overflow-X:hidden;background:url(/images/bg.jpg);}
html, body {height:100%;}
li{list-style:none;}
/*GERAL*/
.all{ width:100%;float:left;display:inline-block;z-index:10}
.all_center{width:1020px; height:auto; margin:0 auto;display:inline-block;padding-left:30px;padding-right:30px;}
/*--------------------*/
.esconde{display:none;}
.blur{-webkit-filter: blur(3px);-moz-filter:blur(3px);-ms-filter: blur(3px);-o-filter: blur(3px); /* FF doesn't support blur filter, but SVG */filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='svgBlur' x='-5%' y='-5%' width='110%' height='110%'><feGaussianBlur in='SourceGraphic' stdDeviation='5'/></filter></svg>#svgBlur");filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius = '3');filter: blur(3px);}
.disabled{opacity:0.5;}

/*TOPO*/
header {padding-top:20px;}
#logo {float:left;}
#header_banner {float:right;width:757px;position:relative;}

/*MENU*/
#menu{margin-top:15px;margin-bottom:20px}
.menu {font-family: 'love_ya_like_a_sister_snormal', sans-serif;float:left;}
.menu a {color:#fff;background:#000;width: 114px;height: 31px;display: inline-block;line-height: 31px;-webkit-transition:0.2s linear;-moz-transition:0.2s linear;-ms-transition:0.2s linear;-o-transition:0.2s linear;transition:0.2s linear;}
.menu li {display:inline-block;font-size:13px;text-transform:uppercase;margin-right:20px;width: 114px;}
.menu .conheca a{background:url(/images/menu1.png)}
.menu .explore a{background:url(/images/menu2.png)}
.menu .blog a{background:url(/images/menu3.png)}
.menu .contato a{background:url(/images/menu4.png)}
.banner{position:absolute;}
.menu li .menu_ativo, .menu li a:hover{background:url(/images/bg_menu_ativo.png);}
.menu .conheca .menu_ativo, .menu .conheca a:hover{color:#73435B}
.menu .explore .menu_ativo, .menu .explore a:hover{color:#FC4E31}
.menu .blog .menu_ativo, .menu .blog a:hover{color:#766D9E}
.menu .contato .menu_ativo, .menu .contato a:hover{color:#00B6C6}
.menu li .sub_menu{width: 133px;text-align: center;position: absolute;padding-top: 4px;display:none;opacity:0;-webkit-transition:all 0.4s linear;-moz-transition:all 0.4s linear;-ms-transition:all 0.4s linear;-o-transition:all 0.4s linear;transition:all 0.4s linear; z-index:5}
.menu li:hover .sub_menu{display:block;opacity:1;}
.menu .sub_menu li{width:100%;display:inline-block;text-align:left;border-bottom:1px solid #fff;}
.menu .sub_menu li:last-child{border:none}
.menu .sub_menu li a{background:none;width:100%;cursor:pointer;font-size:9px;padding-left:10px}
.menu .sub_menu ul{-webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);-moz-box-shadow:4px 4px 0px 0px rgba(0, 0, 0, 1);box-shadow:4px 4px 0px 0px rgba(0, 0, 0, 1);clear:both}
.menu .conheca .sub_menu ul{background:#73435B;}
.menu .conheca .sub_menu a:hover{background:#fff;}
.menu .explore .sub_menu ul{background:#FC4E31;}
.menu .explore .sub_menu a:hover{background:#fff;}
.sub_menu img{float: left;}

/*sociais*/
#twitter-widget-0{width:189px;height: 22px;margin-top: 6px;margin-left:30px}
.sociais li{display: inline;}
.sociais{float: right;height: 25px;line-height: 4px;width:375px;}

/*SIDEBAR*/
#sidebar{float:right;width:372px}
.box_login{width:374px;height:150px;background:url(../images/bg_login.png) no-repeat center center;background-size:cover;padding:21px}
.box_login p{color:#000;font-family:Arial, sans-serif;font-weight:bold;font-size:12px;margin-bottom:20px}
#login_box_login span {color: #ae080f;}
.form_login, .form_senha{font-family: 'love_ya_like_a_sister_snormal', sans-serif;color:#68455b;}
.form_login label, .form_senha label{font-weight:bold;font-size:11px;text-transform:uppercase;margin-right:2px}
.form_login .input, .form_senha .input, #biografia .input {border:1px solid #B8B6B6;width:100px;height:25px;-webkit-box-shadow: inset 0px 1px 1px 0px rgba(107,107,107,0.67);-moz-box-shadow: inset 0px 1px 1px 0px rgba(107,107,107,0.67);box-shadow: inset 0px 1px 1px 0px rgba(107,107,107,0.67);margin-right: 10px;}
.form_login .btn, .form_senha .btn{color:#fff;background:url(../images/btn_entrar.png) no-repeat center center;background-size:cover;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:11px;width:87px;height:32px;text-align: right;padding-right: 7px;float:right;margin-right:10px;cursor:pointer;}
.form_login .link, .form_senha .link{color:#525252;text-decoration:underline;font-size:9px;font-family:Arial, sans-serif;float:left;margin-right:10px;margin-top:5px}
.form_login div, .form_senha div{width:100%;display:inline-block;margin-top:15px;}
.banner_sidebar{margin-top:10px;}
.box_logado{width:372px;height:324px;background:url(../images/bg_logado.png) no-repeat center center;background-size:cover;padding:21px}
.box_logado p{color:#68455b;font-size:1.2em;font-family:Arial, sans-serif;float:left;width:70%;text-align:left;line-height:16px;}
.box_logado .btn{color:#fff;background:url(../images/btn_sair.png) no-repeat center center;background-size:cover;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:11px;width:62px;height:32px;text-align: right;padding-right: 5px;float:right;margin-right:15px;cursor:pointer;}
.box_logado .titu_logado{color:#000;font-family:Arial, sans-serif;font-weight:bold;font-size:12px;margin-bottom:15px;width:100%;display:inline-block;text-align:center;margin-top:15px;}
.opcao_logado {width:100%;display:inline-block;font-family: 'love_ya_like_a_sister_snormal', sans-serif;float:left;}
.opcao_logado li {display:inline-block;font-size:13px;text-transform:uppercase;margin-right:5px;margin-bottom:9px}
.opcao_logado .conheca a{background:url(/images/menu1.png)}
.opcao_logado .conheca.ativo a{background:url(/images/btn_ativo.png)}
.opcao_logado a {color:#fff;background:#000;width: 100px;height: 31px;display: inline-block;line-height: 31px;}
.opcao_logado .pequeno{font-size:6px;}
.opcao_logado .medio{font-size:10px;}
.opcao_logado .grande a{background:url(/images/btn_grande.png);width: 185px;}
.opcao_logado .grande.ativo a{background:url(/images/btn_grande_ok.png);width: 185px;}
.opcao_logado .grande{font-size:10px}
.notificacoes_logado {width:100%;display:inline-block;}
.notificacoes_logado p{font-weight:bold;width:284px}
.notificacoes_logado img {cursor:pointer;}
.notificacao {color:#fff;background:#f68b1f;width:333px;height:46px;font-size:11px;font-family:Arial, sans-serif;border-radius:3px;line-height:40px;padding:10px}
.notificacao li{line-height:normal;list-style:disc;list-style-position: inside;display:none;}
.form_senha {display:none;}
.form_login .error, .form_senha .error, #biografia .input.error{background:rgba(174, 8, 15, 0.29);border:1px solid #ae080f;}
.form_pesquisa{margin-top:-15px;}
.form_pesquisa .btn{width:34px;height:26px;color:#fff;background:url(../images/ok_bg_2.png) center center;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:13px;text-transform:uppercase;cursor:pointer;margin-top:-10px;}
.form_pesquisa .input{border:1px solid #B8B6B6;width:250px;height:25px;-webkit-box-shadow: inset 0px 1px 1px 0px rgba(107,107,107,0.67);-moz-box-shadow: inset 0px 1px 1px 0px rgba(107,107,107,0.67);box-shadow: inset 0px 1px 1px 0px rgba(107,107,107,0.67);margin-right:10px;}
.form_pesquisa div{width:49%;float:left;margin-top:10px}
.form_pesquisa div p{margin-bottom:10px}
.form_pesquisa select{-webkit-appearance:menulist;-moz-appearance:menulist;border:1px solid #ccc;width:97%;}

/*BLOG HOME*/
.blog_home {width:540px;height:319px;background:url(../images/bg_blog_home.png) no-repeat center center;background-size:cover;padding:30px;float:left;}
.blog_home .titu{width:100%;display:inline-block;color:#736d9b;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:14px;text-transform:uppercase;font-weight:bold;padding:10px 5px;text-align:left;}
.blog_home .titu img{float: left;margin-right:10px}
.blog_home .titu em {font-weight: normal;font-size: 13px;}
.posts_home {width:100%;}
.posts_home li{width:30%;margin:1%;color:#68455b;display:inline-block;margin-top:0;vertical-align: top;}
.posts_home li a{color:#68455b;}
.posts_home li img{width:115px;background:url(../images/bg_post_home.png) no-repeat center center;background-size:cover;padding:9px;display:inline-block;height:80px;}
.titu_post_home{font-family:Arial,sans-serif;font-weight:bold;font-size:13px;margin-top:5px;margin-bottom:5px;height: 30px;}
.desc_post_home{font-family:Arial,sans-serif;font-size:11px; text-align:left;height: 57px;}
.posts_home li .btn{font-family: 'love_ya_like_a_sister_snormal', sans-serif;color:#fff;background:url(/images/menu3.png) no-repeat;width: 70px;height: 26px;display: inline-block;line-height: 26px;background-size: cover;float: right;margin-top: 7px;}
/*@-moz-document url-prefix() {.blog_home .titu{padding-left: 24px;}}
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .blog_home .titu{padding-left: 25px;}
}*/ 

/*GALERIA HOME*/
.galeria_home{width:100%;height:233px;background:url(../images/bg_galeria_home.png) no-repeat center center;background-size:cover;padding:20px 40px;display:inline-block;margin-top:20px;margin-bottom:30px;}
.galeria_home .titu{width:100%;display:inline-block;color:#ae080f;background:url(/images/titu_galeria_home.png) no-repeat left center;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:15px;text-transform:uppercase;font-weight:bold;padding:10px 0px;text-align:left;padding-left:38px;padding-bottom:0}
.ops_galeria .ativo{border-bottom:2px solid #ae080f; }
.ops_galeria{color:#ae080f;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:15px;text-transform:uppercase;font-weight:bold;float:right;}
.ops_galeria b{margin-left:20px;cursor:pointer;display:inline-block;}
.galeria_home ul {width:100%;}
.galeria_home ul li{width:196px;margin:12px;display:inline-block;float:left;}
.galeria_home ul li img{margin:0 auto;width:196px;height:110px}
.galeria_home ul li p {font-size: 12px;font-family: Arial,sans-serif;font-weight: bold;color:#ae080f;margin-top:8px;text-transform:uppercase;}
.videos_home{display:none}

/*LIGHT VIEW E AFINS*/
#mask{width:100%;height:100%;left:0;top:0;position:fixed;background: rgba(0,0,0,0.4);text-align:center;display:none;}
#mask article{display:none;}
#fotos {width:950px;min-height:300px;background:url(../images/load.gif) #fff no-repeat center center;border-radius:10px;margin:0 auto;margin-top:80px;padding:20px}
#fotos .img_galeria{max-width:900px;min-width:200px;}
#fotos p{font-size: 15px;font-family: Arial,sans-serif;font-weight: bold;color:#ae080f;margin-top:8px;text-transform:uppercase;}
#videos {width:950px;min-height:300px;background-color:#fff;border-radius:10px;margin:0 auto;margin-top:80px;padding:20px;background:url(../images/load.gif) #fff no-repeat center center;}
#videos iframe{max-width:900px;}
#videos p{font-size: 15px;font-family: Arial,sans-serif;font-weight: bold;color:#ae080f;margin-top:8px;text-transform:uppercase;}
.left_galeria img, .right_galeria img, .left_galeria2 img, .right_galeria2 img{width:20px;cursor:pointer;}
.controles div{float:left;margin:10px;bottom:0}
.quantos{font-size: 12px;font-family: Arial,sans-serif;font-weight: bold;color:#ae080f;}
.controles{/*width:100%;*/display:inline-block;height:30px;line-height:22px;}
.fechar_galeria{color:#fff;background:#f68b1f;padding:0px 5px;font-size:10px;font-family: 'love_ya_like_a_sister_snormal', sans-serif;cursor:pointer;background:url(../images/bot-fechar.png) no-repeat center center;background-size:cover;}
#modal{width:540px;height:356px;background:url(../images/bg_modal_home.png) no-repeat center center;background-size:cover;padding:30px 25px;margin:0 auto;margin-top:150px;}
#modal .titu{color:#000;font-family:Arial, sans-serif;font-weight:bold;font-size:11px;margin-bottom:10px}
#modal .sub_titu{color:#000;font-family:Arial, sans-serif;font-size:11px}
.cadastro_home{font-family: 'love_ya_like_a_sister_snormal', sans-serif;color:#68455b;font-size:12px}
.cadastro_home label{font-weight:bold;font-size:12px;text-transform:uppercase;margin-right:3px}
.cadastro_home .input{border:1px solid #B8B6B6;width:190px;height:25px;-webkit-box-shadow: inset 0px 1px 1px 0px rgba(107,107,107,0.67);-moz-box-shadow: inset 0px 1px 1px 0px rgba(107,107,107,0.67);box-shadow: inset 0px 1px 1px 0px rgba(107,107,107,0.67);margin-right: 10px;}
.cadastro_home .inp_grande{width:467px}
.cadastro_home .btn{color:#fff;background:url(../images/btn_entrar2.png) no-repeat center center;background-size:cover;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:11px;width:87px;height:32px;text-align: center;float:right;margin-right:15px;cursor:pointer;text-transform:uppercase;}
.cadastro_home .link{color:#525252;text-decoration:underline;font-size:9px;font-family:Arial, sans-serif;float:left;margin-right:10px;margin-top:5px}
.cadastro_home select{margin-top:5px; -webkit-appearance:menulist;}
.cadastro_home .checkbox{-webkit-appearance:checkbox;-moz-appearance:checkbox;appearance:checkbox;margin-right: 4px;}
.checkbox ~ label{font-size:9px;font-weight:normal;}
.cadastro_home div{width:100%;display:inline-block;margin-top:10px;margin-bottom:5px;}
.checkbox ~ .termo{font-size:8px;font-family:Arial, sans-serif;font-weight:normal;text-transform:none;width: 305px;display: inline-block;text-align:left;}
.cadastro_home .left{float:left;width:40%;text-align:left;}
.cadastro_home .right .checkbox{margin-top: 11px;}
.cadastro_home .right{float:right;width:55%;text-align:left;}
.cadastro_home .error{background:rgba(174, 8, 15, 0.29);border:#ae080f;}
.cadastro_home .checkbox.error{box-shadow: inset -0px -0px 5px 0px #f00;}
.cadastro_home .full{text-align:left;}
#termo, .termo{float:left;cursor:pointer;}
#termo{margin-left:10px;}

/*HOME CARROUSEL*/
.left_video{position: absolute;top: 50%;margin-top: -38px;cursor:pointer;}
.mascara{width:100%;overflow:hidden;position:relative;}
.right_video{position: absolute;right: 0;top: 50%;margin-top: -38px;cursor:pointer;}

/*FOOTER*/
footer .titu{color:#fff;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:14.5px;margin-top:10px;text-transform:uppercase;letter-spacing:-1px;}
footer .redes{width:545px;margin:0 auto;margin-top:10px;margin-bottom:10px}
.redes li{color:#fff;width:17%;margin:1%;display:inline-block}
.redes li a {color:#fff;font-family: 'love_ya_like_a_sister_snormal', sans-serif;text-transform:uppercase;}
.redes li img{margin:0 auto;margin-bottom:8px;}
.copyright{color:#fff;font-family: Arial,sans-serif;font-size: 12px;margin-top:30px;margin-bottom:10px;}

/*INTERNA*/
.interna{width:540px;min-height:791px;background:url(/images/bg_interna.png) no-repeat center center;background-size:100% 100%;padding:35px;float:left;margin-bottom:30px;}
#sobre .titu {width:100%;display:inline-block;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:22px;color:#ae080f;text-align:left;font-weight:bold;}
#breadcrumb {width:100%;display:inline-block;text-align:left;font-family:Arial, sans-serif;font-size:11px;}
#breadcrumb a{text-decoration:underline;}
#sobre #breadcrumb {color:#ae080f;margin-top:8px;}
#sobre #breadcrumb a{color:#ae080f;}
.interna .img_destaque{width:100%;margin-top:25px;display:inline-block;}
.interna .txt{width:100%;font-family:Arial, sans-serif;font-size:12px;color:#68455b;text-align:justify;margin-top:20px;line-height:17px;}
.txt p{margin-bottom:20px;}
.txt img{float:right;margin-bottom:20px;}
.txt p{width:100%;display:inline-block;}
.txt .img{float:left;width:55%;}
.banner_sobre{display: inline-block;position: relative;/* float: left; */width: 100%;height: 215px;}
.banner_sobre img{width: 100%;display: inline-block;position: absolute;}

/*INTERNA ARTIGO*/
.artigo_txt{border-bottom:1px rgb(102, 0, 51) dotted;}
.artigo_txt span{float: left;font-size: 14px;display: inline-block;width: 46%;}
.artigo_txt .download_artigo{float: left; margin-top: 10px;cursor:pointer;}
.artigo_txt .thumb_artigo{float: left; margin-right: 20px;}
.paginacao{width:100%;display:inline-block;}
.paginacao ul li a {font-family: 'love_ya_like_a_sister_snormal', sans-serif;text-decoration:underline;font-size:12px;color:#f68b1f;}
.paginacao a.nav_pg{display:inline-block; color:#fff;background:url(../images/bg_nav_pg.png); padding:2px;background-size:cover;width:90px;height:20px;font-size:9px;line-height:18px;text-decoration:none;}
.paginacao a.ativo{text-decoration:none;color:#000;}
.paginacao ul{margin: 0 auto;width: 252px;display: inline-flex;margin-top: 36px;}
.paginacao ul li{display:inline-block;float:left;margin:5px;}
.paginacao ul li img{display:inline-block;margin-left:2px;margin-right:2px;}
.artigo_txt .social_blog .tw_blog{width:119px;}
.artigo_txt .btn{font-family: 'love_ya_like_a_sister_snormal', sans-serif;color: #fff;background: url(/images/menu3.png) no-repeat;width: 70px;height: 26px;display: inline-block;line-height: 26px;background-size: cover;float: left;margin-bottom: 15px;font-size:10px;text-align:center;margin-top:-15px;}

/*INTERNA BLOG*/
.blog_txt{border-bottom:1px rgb(102, 0, 51) dotted;}
.blog_txt span{float: left;font-size: 12px;display: inline-block;width: 46%;}
/*.blog_txt .titu_blog{margin-top:20px;}*/
.blog_txt .download_artigo{float: left; margin-top: 10px;cursor:pointer;}
.blog_txt .thumb_artigo{float: left; margin-right: 20px;margin-bottom:5px;}
.social_blog{width:100%;display:inline-block;margin-bottom:10px;}
.social_blog li{float:left;width: 195px;}
.social_blog .g_blog{width: 130px;}
.blog_txt .tw_blog{margin-top: 0px;width: 120px;}
.social_blog .tw_blog2{width: 130px;}

.social_artigo{margin-top:10px;}
.social_artigo li{float:left;width: 185px;}
.social_artigo .g_blog{width: 100px;}
.social_artigo .tw_blog2{width: 120px;}
.blog_txt p{margin-bottom:10px}
.oculta{display:none;}
.tit_post{width:100%;font-weight:bold;font-size:14px;}
#logPost{font-family: Arial, sans-serif;text-align:left;width:100%;display:inline-block;}
.blog_txt .titu_blog{font-size:15px;}
.blog_txt .titu_blog a{color: #68455b;}
.blog_txt .btn{font-family: 'love_ya_like_a_sister_snormal', sans-serif;color: #fff;background: url(/images/menu3.png) no-repeat;width: 70px;height: 26px;display: inline-block;line-height: 26px;background-size: cover;float: left;margin-bottom: 15px;font-size:10px;text-align:center;margin-top:-5px;}

/*INTERNA FOTOS*/
.select_fotos{background:#db4f36;color:#fff;padding:8px;margin-bottom:20px;}
.select_fotos p{color:#fff;margin-bottom:5px;}
.select_fotos select{-webkit-appearance:menulist;font-size:12px;margin-right:5px; width:90%;}
.select_fotos .btn{width:34px;height:26px;color:#db4f36;background:url(../images/btn_ok.png) center center;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:13px;text-transform:uppercase;cursor:pointer;}
.social_fotos .left{float:left;width:48%;}
.social_fotos .left {color:#ae0810;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:11px;font-weight:bold;}
.social_fotos .left a{color:#ff0081;text-decoration:underline;}
.social_fotos .right{float:right;width:48%;}
.social_fotos .right {color:#ae0810;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:11px;font-weight:bold;}
.social_fotos .right a{color:#447298;text-decoration:underline;}
.social_fotos{margin-top:15px;}
.social_video .left{float:left;width:48%;}
.social_video .left {color:#666666;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:11px;font-weight:bold;}
.social_video .left a{color:#db4f36;text-decoration:underline;}
.social_video .left b{color:#cf3427;}
.social_video .right{float:right;width:48%;}
.social_video .right {color:#666666;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:11px;font-weight:bold;}
.social_video .right a{color:#f68b1f;text-decoration:underline;}
.social_video .right b{color:#f68b1f;}
.social_video{margin-top:25px; width:480px;}

.social_foto{width:100%;display:inline-block;margin-top:20px;}
.social_foto li{float:left;width: 184px;}
.social_foto .g_blog{width: 130px;}
.social_foto .tw_blog2{width: 150px;margin-top: -7px;}

/*INTERNA CONTATO*/
#contato {font-family: 'love_ya_like_a_sister_snormal', sans-serif;color:#68455b;margin-top:20px;width:100%;display:inline-block;margin-bottom:20px;}
#contato label{font-weight:bold;font-size:11px;margin-right:10px}
#contato .input{border:1px solid #B8B6B6;width:166px;height:25px;margin-right: 10px;}
#contato .btn{color:#fff;background:url(/images/menu1.png);background-size:cover;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:11px;width:114px;height:31px;text-align: center;cursor:pointer;float:left;text-transform:uppercase;font-size:14px;margin-top:15px;}
#contato .link{color:#525252;text-decoration:underline;font-size:9px;font-family:Arial, sans-serif;float:left;margin-right:10px;margin-top:5px}
#contato div{width:100%;display:inline-block;margin-top:15px;}
#contato #mensagem{resize:none;height:105px;width:98%;}
#contato .label_msg{width:100%;margin-top:20px;text-align:left;display:inline-block}
#contato .error{border:1px #FF0611 solid ;}
.interna .map_txt strong{font-size:14px;margin-bottom:5px;display:inline-block;}
.map_txt a{color:#68455b;font-weight:bold;text-decoration:underline;margin-left:10px}
.interna .map_txt{margin-bottom:30px;}
.sucesso {font-weight: bold;font-size:12px;font-family: 'love_ya_like_a_sister_snormal', sans-serif;color:#68455b;margin-top:20px;width:100%;display:inline-block;margin-bottom:20px;display:none;}
#sucesso .btn{color:#fff;background:url(/images/menu1.png);background-size:cover;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:11px;width:114px;height:31px;text-align: center;cursor:pointer;text-transform:uppercase;font-size:14px;margin-top:15px;}

/*Interna Equipe*/
.box_equipe{padding:20px;background:url(/images/bg_equipe.png) no-repeat 5px 5px;margin-top:-20px;}
.box_equipe img{float:none;}
.select_equipe{color:#fff;padding:0px;margin-top:-20px;}
.select_equipe p{color:#fff;margin-bottom:5px;}
.select_equipe select{-webkit-appearance:menulist;font-size:12px;margin-right:5px; border:1px #666 solid;float:left;width:170px!important;}
.select_equipe .btn{width:34px;height:26px;color:#fff;background:url(../images/ok_bg_2.png) center center;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:13px;text-transform:uppercase;cursor:pointer;margin-top:-10px;}
.select_equipe .left{float:left;width:48%;}
.select_equipe .left {color:#ae0810;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:11px;font-weight:bold;}
.select_equipe .left a{color:#ff0081;text-decoration:underline;}
.select_equipe .right{float:right;width:48%;}
.select_equipe .right {color:#ae0810;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:11px;font-weight:bold;}
.select_equipe .right a{color:#447298;text-decoration:underline;}
.select_equipe{margin-top:15px;}

/*REDES PARTICIPANTES*/
.interna .boxEsquerda {width: 40%; float: left;}
.interna .boxDireita {width: 40%; float: right;}
.redesParticipantes ul li {font-weight:bold;}

/*PALAVRA CANTADA*/
.palavraCantada .boxEsquerda {width: 45%; float: left;}
.palavraCantada .boxDireita {width: 49%; float: right;}
.interna_bottom{width:478;height:auto;margin:0 auto;max-width:100%;}

/*BLOG INTERNA*/
.blog_interna{width:368px;height:460px;background:url(/images/bg_blog_interna.png) no-repeat center center;background-size:cover;padding:15px;float:right;margin-top:15px;}
.blog_interna .titu{color:#736d9b;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:12px;text-transform:uppercase;font-weight:bold;padding:10px 5px;float:left;text-align:left}
.posts_interna {width:100%;}
.posts_interna li{width:100%;margin:1%;color:#68455b;display:inline-block;margin-top:0;margin-bottom:15px;}
.posts_interna li a{color:#68455b;}
.posts_interna li img{width:130px;height:90px;background:url(../images/bg_post_home.png) no-repeat center center;background-size:cover;padding:9px;float:left;margin-right: 15px;}
.titu_post_interna{font-family:Arial,sans-serif;font-weight:bold;font-size:13px;margin-top:5px;margin-bottom:5px;text-align:left;}
.desc_post_interna{font-family:Arial,sans-serif;font-size:11px; text-align:justify;}
.posts_interna li .btn{font-family: 'love_ya_like_a_sister_snormal', sans-serif;color:#fff;background:url(/images/menu3.png) no-repeat;width: 70px;height: 26px;display: inline-block;line-height: 26px;background-size: cover;float: left;margin-top: 7px;}

/*INTERNA MEU PERFIL*/
.img_perfil_post{height:53px;background:url(../images/bg_img_perfil.png) no-repeat center center;background-size:cover;padding:8px;float:left}
.img_perfil{width:150px;height:148px;background:url(../images/bg_img_perfil.png) no-repeat center center;background-size:cover;padding:8px;float:left}
.img_perfil img{width:100%;height:100%;}
.nome_perfil {display:inline-block;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:18px;color:#db4f36;text-align:left;font-weight:bold;float:right;width: 305px;}
.regiao_perfil {display:inline-block;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:15px;color:#f68b1f;text-align:left;float:right;width: 305px;}
.txt_perfil{width:300px!important;float:right;margin-top:2px!important;}
.img_links{float: left;margin: 8px;}
.img_links:last-child{margin-right:0}
.links_box{width:100%;display:inline-block;margin-top:10px;}
.linha{width:100%;margin-bottom:20px;}
.menu_perfil{width:180px;background:url(../images/empe.png) no-repeat right center;font-family: 'love_ya_like_a_sister_snormal', sans-serif;text-align:left;text-transform:uppercase;float:left;}
.sub_perfil{width:100%;font-size:12px;text-align:left;color:#68455b;text-decoration:underline;margin-bottom:5px}
.menu_perfil span{width:100%;color:#736d9b;padding-left:23px;font-size:10px;margin-bottom:2px;display:inline-block;padding-top:3px;padding-bottom:3px}
.menu_perfil span a{color:#736d9b;}
.menu_perfil .primeiro{background:url(../images/icone_um.png) no-repeat left center; background-size:18px;}
.menu_perfil .segundo{background:url(../images/icone_dois.png) no-repeat left center; background-size:18px;}
.menu_perfil .terceiro{background:url(../images/icone_tres.png) no-repeat left top; background-size:18px; border-bottom:1px dotted #68455b;width:160px;padding-bottom:15px;margin-bottom:15px; }
.menu_perfil .quarto{background:url(../images/icone_quatro.png) no-repeat left center; background-size:18px;}
.menu_perfil .quinto{background:url(../images/icone_cinco.png) no-repeat left center; background-size:18px;}
.menu_perfil .sexto{background:url(../images/icone_seis.png) no-repeat left center; background-size:18px;margin-bottom:15px;}
.medalhas_perfil{font-family: 'love_ya_like_a_sister_snormal', sans-serif;text-align:left;text-transform:uppercase;float:left;margin-left:20px;width:270px;text-align:center;margin-bottom:20px}
.medalhas{width:100%;}
.medalhas li{display:inline;margin:9px;float:left;font-size:8px;color:#bbafb7;margin-bottom:0}
.medalhas li.ativo{color:#736d9b;}
.titu_blog_perfil{width:100%;display:inline-block;color:#736d9b;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:14px;text-transform:uppercase;font-weight:bold;padding:10px 5px;text-align:left;padding-top:0}
.titu_blog_perfil img{float: left;margin-right:10px}
.titu_blog_perfil em {font-weight: normal;font-size: 13px;}

/*INTERNA PERFIL*/
.sub_perfil_outro{width:100%;font-size:10px;text-align:left;color:#f68b1f;margin-bottom:5px}
.medalhas_perfil .sub_perfil_outro{color:#db4f36}
.img_lateral_perfil{width:100%;}
.img_lateral_perfil img{border:1px solid #f68b1f;margin-bottom:10px;width:162px;}
.medalhas_perfil .txt{margin-top:5px;text-transform:none;}
#biografia .input {width:100%;height:125px;margin-top:5px;padding:5px;resize:none;}
#biografia .btn_back {color:#fff;font-family: 'love_ya_like_a_sister_snormal', sans-serif;text-transform:uppercase; background:url(../images/back_perfil.png) center center no-repeat;background-size:cover;font-size:10px;width:71px;height:31px;float:left;cursor:pointer;}
#biografia .btn_save {color:#fff;font-family: 'love_ya_like_a_sister_snormal', sans-serif;text-transform:uppercase; background:url(../images/save_perfil.png) center center no-repeat;background-size:cover;font-size:10px;width:143px;height:31px;float:right;cursor:pointer;}
.menu_perfil .segundo.ativo{color:#fff;background:url(../images/icone_dois2.png) #736d9b no-repeat 5px center; background-size:18px;border-radius:6px;width:170px;padding-left:28px;}
.menu_perfil .segundo.ativo a{color:#fff;}
.menu_perfil .primeiro.ativo{color:#fff;background:url(../images/icone_um2.png) #736d9b no-repeat 5px center; background-size:18px;border-radius:6px;width:170px;padding-left:28px;}
.menu_perfil .primeiro.ativo a{color:#fff;}

/*INTERNA EDITAR FOTO*/
#foto .input {width:100%;height:140px;margin-top:5px;padding:5px;resize:none;}
#foto .btn_back {color:#fff;font-family: 'love_ya_like_a_sister_snormal', sans-serif;text-transform:uppercase; background:url(../images/back_perfil.png) center center no-repeat;background-size:cover;font-size:10px;width:71px;height:31px;float:left;cursor:pointer;}
#foto .btn_save {color:#fff;font-family: 'love_ya_like_a_sister_snormal', sans-serif;text-transform:uppercase; background:url(../images/save_perfil.png) center center no-repeat;background-size:cover;font-size:10px;width:148px;height:31px;float:right;cursor:pointer;}
#foto .right .btn_save{margin-top:12px;}
.editar_img{width: 74px;height: 74px;background: url(../images/bg_img_perfil.png) no-repeat center center;background-size: cover;padding: 4px;margin-top:8px;}
.editar_img img {width:100%;height:100%;}
#foto .left{float:left;width:75px;}
#foto .right{float:right;width:190px;}
#foto .right .subir_foto{margin-top:25px;line-height:32px;background:url(../images/upload_perfil.png) center center no-repeat;background-size:cover;}
#foto .right .excluir_foto{background:url(../images/excluir_perfil.png) center center no-repeat;background-size:cover;}
.mini_txt{width:100%;display:inline-block;font-family:Arial;color:#68455b;text-transform:none;margin-top:15px;margin-bottom:15px;height:11px;}

/*INTERNA CONFIGURAÇÕES*/
#setup{width:100%;display:inline-block;}
#setup .left{float:left;width:49%;text-align:left;}
#setup .right{float:right;width:49%;text-align:left;}
.titu_setup{font-family: 'love_ya_like_a_sister_snormal', sans-serif;text-transform:uppercase;text-decoration:underline;color:#db4f36;text-align:left;margin-bottom:5px;}
#setup .label{color:#68455b;font-family:Arial;font-weight:700;font-size:11.5px;width:100%;margin-bottom:5px;display:inline-block}
#setup select{-webkit-appearance:menulist;-moz-appearance:menulist;-ms-appearance:menulist;}
#setup .input{border: 1px solid #B8B6B6;width: 90%;height: 25px;-webkit-box-shadow: inset 0px 1px 1px 0px rgba(107,107,107,0.67);-moz-box-shadow: inset 0px 1px 1px 0px rgba(107,107,107,0.67);box-shadow: inset 0px 1px 1px 0px rgba(107,107,107,0.67);margin-right: 10px;margin-bottom:10px;padding-left:2px;}
.check +label{font-family:Arial;background:url(../images/check.png) no-repeat left center;padding-left:15px;height: 23px;display: inline-block;line-height: 23px;margin-right:10px;cursor:pointer;}
.check:checked +label{background:url(../images/check_ok.png) no-repeat left center;}
.check{display:none;}
#setup .full{width:100%;display:inline-block;text-align:left;}
#setup .full em{font-style:normal;font-weight:normal;font-size:10px;}
#setup .radio{display:none;}
.radio +label{font-family:Arial;background:url(../images/radio.png) no-repeat left center;padding-left:18px;display: inline-block;line-height: 15px;margin-right:10px;cursor:pointer;}
.radio:checked +label{background:url(../images/radio_ok.png) no-repeat left center;}
#setup .btn_back{float:right;color:#fff;font-family: 'love_ya_like_a_sister_snormal', sans-serif;text-transform:uppercase; background:url(../images/back_perfil.png) center center no-repeat;background-size:cover;font-size:10px;width:71px;height:31px;cursor:pointer;margin-right:25px;margin-top:20px;}
#setup .btn_save{float:left;color:#fff;font-family: 'love_ya_like_a_sister_snormal', sans-serif;text-transform:uppercase; background:url(../images/save_perfil.png) center center no-repeat;background-size:cover;font-size:10px;width:143px;height:31px;cursor:pointer;margin-top:20px;}
#setup .input.error{background: rgba(174, 8, 15, 0.29);border: 1px solid #ae080f;}

/*INTERNA UPLOAD FOTO*/
#up_foto .mini_txt{text-align:left;margin-top:0px}
#up_foto .label{color:#68455b;font-family:Arial;font-weight:700;font-size:11.5px;width:100%;margin-bottom:5px;display:inline-block}
#up_foto .input{border: 1px solid #B8B6B6;width: 100%;height: 25px;-webkit-box-shadow: inset 0px 1px 1px 0px rgba(107,107,107,0.67);-moz-box-shadow: inset 0px 1px 1px 0px rgba(107,107,107,0.67);box-shadow: inset 0px 1px 1px 0px rgba(107,107,107,0.67);margin-right: 10px;margin-bottom:10px;padding-left:2px;}
#up_foto{text-align:left;}
#up_foto .left{width:270px;float:left;}
#up_foto .right{float:right;width:200px;}
#up_foto .btn_back {color:#fff;font-family: 'love_ya_like_a_sister_snormal', sans-serif;text-transform:uppercase; background:url(../images/back_perfil.png) center center no-repeat;background-size:cover;font-size:10px;width:71px;height:31px;float:left;cursor:pointer;}
#up_foto .btn_save {color:#fff;font-family: 'love_ya_like_a_sister_snormal', sans-serif;text-transform:uppercase; background:url(../images/save_perfil.png) center center no-repeat;background-size:cover;font-size:10px;width:148px;height:31px;float:left;cursor:pointer;margin-left:30px;}
#up_foto .subir_foto{margin-top:13px;line-height:32px;background:url(../images/upload_perfil.png) center center no-repeat;background-size:cover; text-align:center;width:185px; background:url(../images/bg_up.png) center center no-repeat;background-size:cover;}
#up_foto .full{width:100%;display:inline-block;text-align:left;}
#up_foto .input.error{background: rgba(174, 8, 15, 0.29);border: 1px solid #ae080f;}
#up_foto textarea{height:auto!important;resize:none;}
#up_foto .full .subir_foto{margin:0;margin-bottom:10px;}
#up_foto .up_post_btn .btn_save{float:right!important;}
#up_foto .up_post_btn .btn_back{float:right!important;}

/*Colaborativa UPLOAD Video*/
#up_video .mini_txt{text-align:left;margin-top:0px}
#up_video .label{color:#68455b;font-family:Arial;font-weight:700;font-size:11.5px;width:100%;margin-bottom:5px;display:inline-block}
#up_video .input{border: 1px solid #B8B6B6;width: 100%;height: 25px;-webkit-box-shadow: inset 0px 1px 1px 0px rgba(107,107,107,0.67);-moz-box-shadow: inset 0px 1px 1px 0px rgba(107,107,107,0.67);box-shadow: inset 0px 1px 1px 0px rgba(107,107,107,0.67);margin-right: 10px;margin-bottom:10px;padding-left:2px;}
#up_video{text-align:left;}
#up_video .left{width:270px;float:left;}
#up_video .right{float:right;width:200px;}
#up_video .btn_back {color:#fff;font-family: 'love_ya_like_a_sister_snormal', sans-serif;text-transform:uppercase; background:url(../images/back_perfil.png) center center no-repeat;background-size:cover;font-size:10px;width:71px;height:31px;float:left;cursor:pointer;}
#up_video .btn_save {color:#fff;font-family: 'love_ya_like_a_sister_snormal', sans-serif;text-transform:uppercase; background:url(../images/save_perfil.png) center center no-repeat;background-size:cover;font-size:10px;width:148px;height:31px;float:left;cursor:pointer;margin-left:30px;}
#up_video .subir_foto{margin-top:13px;line-height:32px;background:url(../images/upload_perfil.png) center center no-repeat;background-size:cover; text-align:center;width:185px; background:url(../images/bg_up.png) center center no-repeat;background-size:cover;}
#up_video .full{width:100%;display:inline-block;text-align:left;}
#up_video .input.error{background: rgba(174, 8, 15, 0.29);border: 1px solid #ae080f;}
#up_video textarea{height:auto!important;resize:none;}
#up_video .full .subir_foto{margin:0;margin-bottom:10px;}
#up_video .up_post_btn .btn_save{float:right!important;}
#up_video .up_post_btn .btn_back{float:right!important;}

/*INTERNA GALERIA*/
.titu_galeria{display: inline-block;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size: 15px;color: #db4f36;text-align: left;font-weight: bold;width: 100%;}
.galeria_img_interna{width:100%;display:inline-block;}
.galeria_img_interna li{display:inline-block;margin:15px;cursor:pointer;width:115px;}
.galeria_img_interna li img{width:100%;}
.galeria_img_interna li p{display:none;}

.galeria_video_interna{width:100%;display:inline-block;}
.galeria_video_interna li{display:inline-block;margin:15px;cursor:pointer;width: 200px;}
.galeria_video_interna li img{width:100%;}
.galeria_video_interna li p{display:none;}

/*INTERNA BLOG PERFIL*/
.mini_blog .btn{margin-top:5px;}
.mini_blog{display: inline-block;}

/*INTERNA POST PERFIL*/
.mini_perfil{width:40px;float:left;}
#sobre2 .titu {display:inline-block;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:20px;color:#ae080f;text-align:left;font-weight:bold;float:left;margin-left:10px;width: 307px;margin-bottom: -5px;}
#sobre2 .titu2 {display:inline-block;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:17px;color:#f68b1f;text-align:left;font-weight:bold;float:left;margin-left:10px;}
#sobre2 .btn{font-family: 'love_ya_like_a_sister_snormal', sans-serif;color: #fff;background: url(/images/menu3.png) no-repeat;width: 100px;height: 26px;display: inline-block;line-height: 29px;background-size: 100% 100%;float: left;margin-bottom: 15px;font-size:9px;text-align:center;margin-top:-5px; text-transform:uppercase;}
#sobre2 .btn2{font-family: 'love_ya_like_a_sister_snormal', sans-serif;color: #fff;background: url(/images/menu2.png) no-repeat;width: 100px;height: 26px;display: inline-block;line-height: 29px;background-size: 100% 100%;float: left;margin-bottom: 15px;font-size:9px;text-align:center;margin-top:-5px; text-transform:uppercase;}
#sobre2 .btn3{font-family: 'love_ya_like_a_sister_snormal', sans-serif;color: #fff;background: url(/images/save_perfil.png) no-repeat;width: 100px;height: 26px;display: inline-block;line-height: 29px;background-size: 100% 100%;float: left;margin-bottom: 15px;font-size:9px;text-align:center;margin-top:-5px; text-transform:uppercase;margin-left:20px;}

/*FAQ*/
.faq {background:url(/images/beleleu.png) no-repeat center right;}
.box_prof{color:#336600;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:15px;display:inline-block;margin-top:50px;margin-left:-50px;font-weight:bold;margin-bottom:80px}
.prof{float:left;}
.select_faq .txt{font-size:11px;margin-top:10px;}
.select_faq{width:330px;float:right;}
.select_faq select{-webkit-appearance:menulist;-moz-appearance:menulist;appearance:menulist;font-size:11px;float:left;border:1px solid rgba(107,107,107,0.67); padding: 5px 0px;}
.select_faq .btn{width: 34px;  height: 26px;  font-family: 'love_ya_like_a_sister_snormal', sans-serif;  background: url(../images/ok_verde.png) center center;  font-family: 'love_ya_like_a_sister_snormal', sans-serif;  font-size: 13px;  text-transform: uppercase;cursor: pointer; }
.select_faq .desc_faq{margin-top:10px;}
.desc_faq a {color:#336600;}

.titu_verde {width:100%;display:inline-block;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:13px;color:#336600;margin-top:5px;}

/*AGENDA*/
.titu_agenda{width:100%;display:inline-block;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:18px;color:#736d9b;margin-top:10px;text-align:left;}
.data_agendada{width:100%;display:inline-block;}
.data_agendada a{color: #fff;background: url(/images/menu1.png);width: 100px;height: 31px;display: inline-block;line-height: 34px;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:12px;margin-top:10px;float:left;margin-bottom:-15px;}
.titu_calendario{width:100%;display:inline-block;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:18px;color:#736d9b;margin-top:-10px;text-align:left;}
.interna .sub_calendario {margin-top:0px;}
.interna .txt_menor{font-size:11px}
.box_info_data{background:#29b5c4;width:100%;text-align:left;color:#fff;font-size:11px;font-family:Arial;padding:10px;border-radius:5px;font-weight:normal;}
.box_info_data p{margin-bottom:4px;}
.cap{text-transform: uppercase;}

/*GALERIA GERAL*/
.galeria_geral{width:100%;height:197px;background:url(../images/bg_galeria_home.png) no-repeat center center;background-size:cover;padding:20px 16px;display:inline-block;margin-top:20px;margin-bottom:5px;}
.galeria_geral ul {width:100%;}
.galeria_geral ul li{width:196px;margin:12px;display:inline-block;float:left;}
.galeria_geral ul li img{margin:0 auto;width:196px;height:110px}
.galeria_geral ul li p {font-size: 12px;font-family: Arial,sans-serif;font-weight: bold;color:#ae080f;margin-top:8px;text-transform:uppercase;}
.sub_galeria_geral{width:100%;font-family:Arial, sans-serif;font-size:12px;color:#68455b;text-align:justify;line-height:17px;}
.upload_geral p{width:100%;display:inline-block;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:15px;color:#68455b;margin-top:10px;text-align:center;}
.upload_geral a{color:#fff;font-family: 'love_ya_like_a_sister_snormal', sans-serif;background:#f68b1f;display:block;width:80%;margin:0 auto;padding:8px;font-size:15px;margin:20px auto;border-radius:8px;}
.upload_geral a img{  display: inline;}

/*FORUM*/
.titu_forum{font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:14px;color:#f68b1f;margin-top:20px;margin-bottom:5px;text-align:left}
.titu_forum img{vertical-align:middle;}
.mini_txt_forum{  width: 100%; display: inline-block; font-family: Arial; color: #ae0810; text-transform: none; margin-bottom: 15px; height: 11px;text-align:left}
#up_foto .btn_back.up_forum{background: url(../images/back_perfil2.png) center center no-repeat !important;padding:0 20px;}
#up_foto .btn_save.up_forum{background: url(../images/save_perfil2.png) center center no-repeat !important;padding:0 30px;width: 172px;}
.div_forum{border-bottom:1px rgb(102, 0, 51) dotted;width:100%;margin-top:20px;display:inline-block;}
.destque_forum{color:#29b5c4;margin-bottom:0px !important;}
.destque_forum a{color:#29b5c4;font-weight:bold;text-decoration:underline;}
.txt_forum{background:url(../images/bg_forum_txt.png) no-repeat;padding-left:30px;}
.div_forum2{border-bottom:1px rgb(102, 0, 51) dotted;width:100%;display:inline-block;}
.linha_forum{width: 100%;margin-bottom:-10px;}
.titu_forum2{font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:14px;color:#29b5c4;margin-bottom:5px;text-align:left;}
.titu_forum2 a{color:#29b5c4;text-decoration:underline;}
.titu_forum2 img{vertical-align:middle;}

/*AGENDA*/
.tabela_verde{color:#29b5c4}

/*CRIAÇÕES DOCUMENTADAS*/
.tabela{margin-top:20px;width:100%;display:inline-block; border-collapse:collapse;border:1px dotted #736d9b;border-top:none;border-left:none;border-right:none;margin-bottom:30px;}
.tabela th{color:#fff;background:#736d9b;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:13px;font-weight:normal;padding:2px 5px; border-collapse:collapse;border:1px dotted #fff;border-top:none;}
.tabela th:first-child{text-align:left;}
.tabela td{color:#736d9b;font-family:arial;font-weight:700;font-size:11px;padding:15px 5px; border-collapse:collapse;border:1px dotted #736d9b;}
.tabela tr td:first-child{border-left:none}
.tabela tr td:last-child{border-right:none}
.tabela a{color:#736d9b;text-decoration:underline; text-transform:uppercase;}

.tabela2{margin-top:20px;width:100%;display:inline-block; border-collapse:collapse;border:1px dotted #29b5c4;border-top:none;border-left:none;border-right:none;margin-bottom:30px;}
.tabela2 th:first-child{text-align:left;}
.tabela2 th{color:#fff;background:#29b5c4;font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:13px;font-weight:normal;padding:2px 5px; border-collapse:collapse;border:1px dotted #fff;border-top:none;}
.tabela2 td{color:#29b5c4;font-family:arial;font-weight:700;font-size:11px;padding:15px 5px; border-collapse:collapse;border:1px dotted #29b5c4;}
.tabela2 tr td:first-child{border-left:none}
.tabela2 tr td:last-child{border-right:none}
.tabela2 a{color:#29b5c4;text-decoration:underline; text-transform:uppercase;}

.interna2{width:540px;min-height:791px;background:#fff;background-size:100% 100%;padding:25px;float:left;margin-bottom:30px;}
.interna2 .img_destaque{width:100%;margin-top:25px;display:inline-block;}
.interna2 .txt{width:100%;font-family:Arial, sans-serif;font-size:11px;color:#68455b;text-align:justify;margin-top:20px;line-height:17px;}
.tafera_detalhe{float: left;font-size: 12px;display: inline-block;font-family:Arial;color:#736d9b;width:100%;text-align:left;}
.box_criacoes{width:100%;height:222px;padding:8px;overflow-Y:scroll;color:#68455b;font-family:Arial;font-size: 12px;text-align:left;border:1px solid #736d9b;}
.video_criacoes{width:100%;height:269px;background:url(../images/video_criacoes.png) no-repeat center center;background-size:100% 100%;}
.detalhes_autor{float:left;}
.relato_detalhe{float: left;font-size: 12px;display: inline-block;font-family:Arial;color:#68455b;text-align:left;}
.comentario_detalhe{float: left;font-size: 12px;display: inline-block;font-family:Arial;color:#736d9b;text-align:left;}
.criacoes_btn{display:inline-block;}
.btn_comentario{font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:11px;color:#fff;background:url(../images/btn_comente.png) no-repeat center center;background-size:cover;width:171px;height:31px;display:block;line-height:34px;  padding-left: 21px;float:left;margin-right:10px;}
.btn_relato{font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:11px;color:#fff;background:url(../images/btn_relato.png) no-repeat center center;background-size:cover;width:142px;height:31px;display:block;line-height:34px;  padding-left: 21px;float:right;}
.titu_criacoes{  width: 100%; display: inline-block;font-family: 'love_ya_like_a_sister_snormal', sans-serif; font-size: 15px; color: #736d9b; margin-top: 10px; text-align: left;}
.relatos_ul li{padding:10px;float:left;position:relative;}
.topo_relatos{width:100%;display:inline-block;}
.topo_relatos .left{float:left;width:40%;}
.topo_relatos .right{float:right;width:49%;position:relative;}
.left_relato{cursor:pointer;left:0;position:absolute;margin-top: 10px;z-index:3}
.right_relato{cursor:pointer;right:0;position:absolute;margin-top: 10px;z-index:3}
.cont_relato{font-size:12px;font-family:Arial;color:#68455b; position: relative;float: left; width: 100%; margin-top: 16px;z-index:1;}
.sub_criacoes .left{float:left;width:50%;}
.sub_criacoes .right{float:right;width:50%;}
.sub_criacoes .detalhes_autor{display:inline-block;margin-bottom:10px;}
.btn_comentario2{font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:11px;color:#fff;background:url(../images/ver_comentario.png) no-repeat center center;background-size:cover;width:151px;height:31px;display:block;line-height:34px;  padding-left: 21px;float:left;margin-right:10px;}
.btn_relato2{font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:11px;color:#fff;background:url(../images/btn_comentar.png) no-repeat center center;background-size:cover;width:171px;height:31px;display:block;line-height:34px;  padding-left: 21px;float:left;}
.sub_criacoes, .btn_relato2{margin-top:10px;}
.btn_comentario3{font-family: 'love_ya_like_a_sister_snormal', sans-serif;font-size:11px;color:#fff;background:url(../images/btn_comente.png) no-repeat center center;background-size:cover;width:171px;height:31px;display:block;line-height:34px;  padding-left: 21px;float:right;}
.enviar_relato{text-align:right !important;}
.enviar_relato .btn_back, .enviar_relato .btn_save{float:none !important;}


/*AJUSTES*/
.textoPost span {
    font-size: 10px;
    color: #525252;
}

#fotodiv .pAvisoGaleria {
    color: rgb(104, 69, 91);
    font-family: arial;
    font-size: 1.1em;
    line-height: 16px;
}